<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.guagua.pixrayandroid" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <!-- android:theme="@android:style/Theme.Holo.Light.DarkActionBar" -->

        <activity
            android:name=".ProjectListActivity"
            android:label="@string/project_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PlateListActivity"
            android:label="@string/plate_list"
            android:parentActivityName=".ProjectListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProjectListActivity" />
        </activity>

        <activity
            android:name=".ImageGalleryActivity"
            android:label="@string/image_grid"
            android:parentActivityName=".PlateListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlateListActivity" />
        </activity>

        <activity
            android:name=".ImageActivity"
            android:label="@string/single_image"
            android:parentActivityName=".ImageGalleryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ImageGalleryActivity" />
        </activity>

        <activity
            android:name=".EnlargedImageActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ImageActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ImageActivity" />
        </activity>

    </application>

</manifest>
